.clock {
    display: flex;
    color: white;
    font-size: 10rem;
    height: 80vh;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
}

@media only screen and (max-width: 900px) {
    .clock {
        font-size: 5.5rem;
        font-weight: 700;
    }
}

@media only screen and (max-width: 600px) {
    .clock {
        font-size: 4.5rem;
        font-weight: 500;
    }
}

@media only screen and (max-width: 400px) {
    .clock {
        font-size: 3rem;
        font-weight: 500;
    }
}